.experience {
    background-color: #fff;
    padding: 15px;

    &__user {
        margin-bottom: 17px;
    }
    &__title {
        @include font-style(20px, 500, 24px);
        margin-bottom: 17px;
    }
    &__resum {
        margin-bottom: 12px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    &__resum-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        &--colorful {
            @include font-style(14px, 500);
        }
        &--colorless {
            color: #727D85;
            margin-left: 19px;
            
        }
    }
    &__icon {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin-right: 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        &--colorfull {
            border: 1px solid #19B5BC;
            & > * { color: #19B5BC; }
        }
        &--colorless {
            border: 1px solid #ACB5BC;
            & > * {
                color: #ACB5BC;
                font-size: 18px;
            }
        }
    }
    &__gallery {
        display: flex;
        flex-flow: row wrap;
        margin: -15px 0 27px -15px;
        margin-top: -15px;
        width: 100%;
        & > * {
            border-radius: 5px;
            margin: 15px 0 0 15px;
        }
    }
    &__doctor {
        margin-bottom: 23px;
    }
    &__rating {
        margin-bottom: 19px;
    }
    &__text {
        @include font-style(14px, 400, 21px);
        border-bottom: 1px solid #F3F3F3;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    &__form {
        margin-bottom: 20px;
    }
    &__title-form {
        @include font-style(20px, 500);
        color: #373737;
        margin-bottom: 12px;
    }

    @media (min-width: 756px) {
        padding: 35px;
        flex: 3;
        border-radius: 5px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    }
}

.user {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
    
    &__info {
        margin-left: 15px;
    }

    &__nick {
        @include font-style(14px, 500, 21px);
    }

    &__detail {
        @include font-style(12px);
        line-height: 21px;
        color: #727D85;
    }
}

.doctor {
    &__title {
        @include font-style(16px, 700, 24px);
        margin-bottom: 12px;
    }
    &__branding {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 15px;
    }
    &__logo {
        width: 63px;
        border-radius: 4px;
    }
    &__details {
        margin-left: 15px;
    }
    &__name {
        @include font-style(14px, 500, 21px);
    }
    &__location {
        @include font-style(12px, 500, 21px);
        color: #ACB5BC;
    }
}

.rating {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    
    &__title {
        @include font-style(14px, 500);
    }
    &__stars {
        margin-left: 5px;
        font-size: 20px;
        font-weight: 700;
        color: #FFBB4B;
        &:first-child { margin-left: 20px; }
    }
}